<div class="main">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Customer Details
                </mat-panel-title>
                <mat-panel-description style="display: flex;justify-content: flex-end;">
                    <button style="border: 1px solid #A03037;color: #A03037;" mat-button>Add New Address</button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="display: flex;width: 70%;flex-direction: column;">
                <form>
                    <div style="display: flex;justify-content: space-between;">
                        <mat-form-field appearance="outline" style="width: 45%;">
                            <mat-label>Full Name</mat-label>
                            <input [value]="UserData.fullName" matInput placeholder="FullName">
                        </mat-form-field>
                        <mat-form-field appearance="outline" style="width: 45%;">
                            <mat-label>Mobile Number</mat-label>
                            <input [value]="UserData.mobileNumber" matInput placeholder="Mobile Number">
                        </mat-form-field>
                    </div>
                    <div style="display: flex;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Address</mat-label>
                            <input [value]="ShipAddress.userAddress" matInput placeholder="Address">
                        </mat-form-field>
                    </div>
                    <div style="display: flex;justify-content: space-between;">
                        <mat-form-field appearance="outline" style="width: 45%;">
                            <mat-label>city/town</mat-label>
                            <input [value]="ShipAddress.userCity" matInput placeholder="city/town">
                        </mat-form-field>
                        <mat-form-field appearance="outline" style="width: 45%;">
                            <mat-label>State</mat-label>
                            <input [value]="ShipAddress.userState" matInput placeholder="State">
                        </mat-form-field>
                    </div>
                    <div>
                        <div>
                            <h4>Type</h4>
                        </div>
                        <mat-radio-group style="display: flex;justify-content: space-around;" aria-label="Select an option">
                            <mat-radio-button (click)="changeAddr(1)" [value]="1">Home</mat-radio-button>
                            <mat-radio-button (click)="changeAddr(2)" [value]="2">Work</mat-radio-button>
                            <mat-radio-button (click)="changeAddr(3)" [value]="3">Other</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </form>
            </div>
            <div style="display: flex;justify-content: flex-end;">
                <button (click)="sendData(ShipAddress)" mat-raised-button color="primary">CONTINUE</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>