.main{
    display: flex;
    background-color: #a03037;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 10px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.search{
    background-color: white;
    min-width: 50%;
    border-radius: 3px;
}