<div class="head">
    <div><img src="../../../assets/Images/education.svg"></div>&nbsp;&nbsp;
    <div><h3 style="color: white;">Bookstore</h3></div>
</div>
<div class="forgotPasswordForm">
    <div><h2>Forgot Your Password?</h2></div>
    <form class="formDesign" [formGroup]="forgotUser" (ngSubmit)="ForgotUser()">
        <p style="color: #878787;">Enter your email address and we'll send you a link to reset your password.</p>
        <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>
        <button style="background-color: #A03037;color: white;" type="submit" mat-button color="primary">Reset password</button>
    </form>
    <br>
    <div><button mat-button>CREATE ACCOUNT</button></div>
</div>