<div class="head">
    <div><img src="../../../assets/Images/education.svg"></div>&nbsp;&nbsp;
    <div>
        <h3 style="color: white;">Bookstore</h3>
    </div>
</div>
<div class="resetPasswordForm">
    <div>
        <h2>Reset Password</h2>
    </div>
    <form class="formDesign" [formGroup]="resetUser" (ngSubmit)="ResetUser()">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="confirmPassword" matInput>
        </mat-form-field>
        <button style="background-color: #A03037;color: white;" mat-button color="primary">Reset password</button>
    </form>
    <br>
    <div><button mat-button>CREATE ACCOUNT</button></div>
</div>