.list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card{
    display: flex;
    width: 96%;
    padding: 20px;
    border: 1px solid #e4e4e4;
    justify-content: space-between;
}